/* WEBSITE STYLE - Global things */

.global-alert {
    background-color: #f8cc37;
    color: #2d303a;
    padding: 10px;
    text-align: center;
    font-weight: 800
}
#error-404 {
    padding: 5%;
    text-align: center;
}
#error-message {
    background: rgba(248, 204, 55, 0.98);
    border-bottom: 2px solid #a00;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    left: calc(50% - 300px);
    padding: 15px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 600px;
    z-index: 1000000;
}